.header .navegacao,
.header .navegacao ul {
    display: inline;
}

.header {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
}

.header img {
    width: 100px;
}

.header a {
    text-decoration: none;
}

/* .header a:visited {
  color: #ffffff;
} */

.header ul li {
    display: inline;
    margin: 0px 5px;
    background-color: rgb(231, 230, 231);
    padding: 5px 10px;
    border-radius: 20px;
}

.header ul li:hover {
    border: 1px solid #ffffff;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 16px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
    background-color: #808080;
    border-radius: 20px;
}

.navbar-nav .nav-item .nav-link.active {
    border: none;
}