* {
    padding: 0;
    margin: 0;
    border: 0;
}

h1 {
    font-size: 2rem;
    margin: 10px 0px;
}

main {
    padding: 10px;
}

aside {
    display: none;
}

aside,
footer {
    background-color: #000000;
    color: white;
}

footer {
    text-align: center;
}

aside a {
    text-decoration: none;
    color: white;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #58595b;
    color: #fff;
    margin-bottom: 30px;
    height: 400px;
}

.hero-banner div {
    display: inline-block;
    width: 100%;
}

.div-banner-title h1,
.div-banner-title p {
    padding: 10px;
}

div.div-banner-img {
    position: relative;
    height: 100%;
    width: 100%;
}

.div-banner-img img {
    max-height: 100px;
    position: absolute;
    bottom: -50%;
    top: 20%;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

div.div-banner-sobre-mim-img {
    position: relative;
    height: 100%;
    width: 100%;
}

.div-banner-sobre-mim-img img {
    max-height: 100px;
    position: absolute;
    top: 20%;
    animation-duration: 5s;
    animation-name: aparecer;
}

.wrapper {
    display: flex;
    overflow: hidden;
    height: 100%;
    align-items: center;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        left: 100%;
    }

    50% {
        opacity: 1;
        left: 50%;
    }

    100% {
        opacity: 0;
        left: 0%;
    }
}

/* @media (max-width: 420px) */
@media (min-width: 992px) {
    .meu-grid {
        display: grid;
        height: 100vh;
        grid-template-rows: auto 1fr 100px;
        grid-template-columns: 250px 1fr;
        grid-template-areas:
            "header header"
            "aside main"
            "aside footer";
    }

    header {
        grid-area: header;
    }

    aside {
        grid-area: aside;
        display: block;
        background-color: black;
    }

    main {
        grid-area: main;
    }

    .btn-primary {
        background-color: #E18AA7;
        border-color: #E18AA7;
    }

    .btn-primary:hover {
        background-color: #e05bd1;
        border-color: #e05bd1;
    }

    #minhaft {
        display: grid;
        justify-content: center;

    }

    .perfil-sobre-mim-img {
        max-width: 100%;
        object-fit: cover;
        justify-content: center;
    }

    .perfil-img {
        max-width: 100%;
        max-height: 250px;
        object-fit: cover;
        justify-content: center;
    }

    #minhaft-sobre-mim {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .perfil-sobre-mim-img {
        max-width: 100%;
        display: flex;
        object-fit: cover;
        align-items: center;
        justify-content: center;
    }

    #minhaft-naflash {
        display: flex;
        align-items: center;
        justify-content: center;
        color: blue;
        border: #e05bd1;

    }

    .perfil-naflash-img {
        max-width: 100%;
        display: flex;
        object-fit: cover;
        align-items: center;
        justify-content: center;
    }

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical
    }

    input[type=enviar] {
        background-color: #000000;
        color: white;
        padding: 12px 10px;
        border: grey;
        border-radius: 2px;
        cursor: pointer;
    }

    input[type=enviar]:hover {
        background-color: #58595b;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    footer {
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer h3 {
        margin: 0;
    }

    footer ul {
        list-style: none;
        padding: 0;
    }

    footer ul li {
        display: inline;
        margin-left: 20px;
    }

    .hero-banner {
        flex-direction: row;
        height: 200px;
    }
}